.overflow {
    overflow-y: scroll;
}
.container {
    position: relative;
    text-align: center;
    font-size: large;
    font-family: PT serif;
    text-decoration: none;
}
.container::before {
 color:black;
}
.pastries-on-tray {
    right: 0px;
    left: 0px;
    top: 0px;
    height: 800px;
}
.nav-item {
    position: absolute;
    top: 50px;
    left: 350px;
}
.nav-item-2 {
    position: absolute;
    top: 50px;
    left: 550px;

}
.nav-item-3 {
    position: absolute;
    top: 50px;
    right: 560px;
}
.nav-item-4 {
    position: absolute;
    top: 50px;
    right: 360px;

}
h1 {
    font-family: PT serif;
    font-size: 50px;
    position: relative;
    color: black;
    top: 50px;
    left: 650px;
}
p {
    font-family: PT serif;
    position: relative;
    color: black;
    top: 50px;
    left: 500px;
}
#om-oss {
    left: 600px;
}
#restaurang-cafe {
    left: 460px;
}