body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
a {
    display: block;
    padding:15px;
}
a:link {
    color: #C9C9C9;
    text-decoration: none;
}
a:visited {
    color: #C9C9C9;
    text-decoration: none;
}
iframe {
    width: 80%;
    height: 800px;
}
li {
    float: left;
    padding-left: 130px;
}
ul {
    list-style-type: none;
    margin: 0;
}
.nav-items {
    top: 50px;
    float: left;
    text-align: center;
    padding: 14px 16px;
    
}
.overflow {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
    
}
.container {
    position: fixed;
    font-size: large;
    font-family: PT serif;
    text-decoration: none;
}
.restaurant {
    position: relative;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 800px;
}
.viljan {
    height: 60px;
}
#content {
    position: relative;
    text-align: center;
    padding-left: 0pt;
    color: #3B3939;
    
}
#content h1 {
    font-family: PT serif ;
    font-weight: normal;
    font-size: 50px;
    position: relative;
    top: 50px;
}
#content p {
    font-family: PT serif;
    position: relative;
    top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#content hr {
    width: 10%;

}
#div-menu {

    height:500px;
    width: 800px;
    position: relative;
    text-align: left;
    color: #3B3939;
    border: 1px;
    font-family: PT serif;
    text-decoration: none;
}



